@font-face {
    font-family: CrimsonPro;
    src: url('CrimsonPro-ExtraLight.subset.woff2');
    font-style: normal;
}

:root {
    background: #2b0514;
    color: #fffd;
    font-size: 24px;
    font-family: system-ui, sans-serif;
}

h2 {
    color: #fffc;
    font-size: 1em;
}

div.controls,
div.output {
    font-size: 0.75em;
}

p {
    font: 200 1em/1.3 CrimsonPro, serif;
    width: 20em;
}

a:link,
a:visited {
    color: #de9f33;
    text-decoration-color: #85786a;
}

.output {
    width: 200px;
    height: 200px;
}

.output svg {
    width: 100%;
    height: 100%;
}
